# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config ZMK_BLE
	default y

config ZMK_USB
	default y

CONFIG_BT_GATT_ENFORCE_SUBSCRIPTION=n

if SHIELD_CARD_LEFT || SHIELD_CARD_RIGHT

config ZMK_KEYBOARD_NAME
	default "The Card"

endif


if SHIELD_CARD_RIGHT

config ZMK_SPLIT
	default y

endif


if SHIELD_PIANO_NORM_LEFT

config ZMK_SPLIT
	default y

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
